{%- if site.footer_content -%}
  <p class="text-small text-grey-dk-100 mb-0">{{ site.footer_content }}</p>
  
  <script src="https://cdn.counter.dev/script.js" data-id="12ea5a71-a6c5-440c-9493-cc120f422505" data-utcoffset="3"></script>

  <!-- Google tag (gtag.js) -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-F2W2T0B3VB"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
  
    gtag('config', 'G-F2W2T0B3VB');
  </script>
  
{%- endif -%}
